.contenido
	contenedor()
	margin-bottom: 40px
	justify-content: space-evenly

.caja
	max-width: 430px
	margin-left: 20px
	border-radius: 5px
	caja-sombra()
	&__contenido
		padding: 20px
		background-color: color-claro
		span
			color: color-secundario
			titulos(Fuente2)
		h3
			titulos(Fuente2)